{{- if eq .Values.mode "server" }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "program-director.fullname" . }}
  labels:
    {{- include "program-director.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "program-director.selectorLabels" . | nindent 4 }}
{{- end }}
