{{- if and .Values.operator.enabled .Values.realm.enabled }}
---
apiVersion: k8s.keycloak.org/v2alpha1
kind: KeycloakRealmImport
metadata:
  name: {{ include "keycloak.fullname" . }}-{{ .Values.realm.name }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "keycloak.labels" . | nindent 4 }}
spec:
  keycloakCRName: {{ include "keycloak.fullname" . }}
  realm:
    realm: {{ .Values.realm.name }}
    enabled: true
    displayName: {{ .Values.realm.displayName | default .Values.realm.name }}

    {{- if .Values.realm.authenticationFlows }}
    # Custom authentication flows
    authenticationFlows:
      {{- toYaml .Values.realm.authenticationFlows | nindent 6 }}
    {{- end }}

    {{- if .Values.realm.authenticatorConfig }}
    # Authenticator configurations
    authenticatorConfig:
      {{- toYaml .Values.realm.authenticatorConfig | nindent 6 }}
    {{- end }}

    {{- if .Values.realm.browserFlow }}
    # Set browser flow
    browserFlow: {{ .Values.realm.browserFlow }}
    {{- end }}
{{- end }}
