---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: plex-config-iscsi-pvc
  labels:
    app: plex
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: synology-csi-iscsi-retain
  resources:
    requests:
      storage: 200Gi
