{{- if .Values.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "openbao-unsealer.serviceAccountName" . }}
  namespace: {{ .Values.openbao.namespace }}
  labels:
    app.kubernetes.io/name: openbao-unsealer
    app.kubernetes.io/instance: {{ .Release.Name }}
{{- end }}

