---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: prowlarr-config-iscsi-pvc
  labels:
    app: prowlarr
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: synology-csi-iscsi-retain
  resources:
    requests:
      storage: 10Gi
