---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: bazarr-config-iscsi-pvc
  labels:
    app: bazarr
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: synology-csi-iscsi-retain
  resources:
    requests:
      storage: 50Gi
