---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: overseer-config-iscsi-pvc
  labels:
    app: overseer
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: synology-csi-iscsi-retain
  resources:
    requests:
      storage: 5Gi
